@tailwind base;
@tailwind components;
@tailwind utilities;
*{  
     box-sizing: border-box;
     font-family: 'Roboto', sans-serif;
     margin: 0;
     padding: 0;
     list-style-type: none;
     text-decoration: none;
}
body{
      align-items: center;
      justify-content: center;
     background: #667db6; 
     background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
     background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
}